<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>魅族官网商城-提供魅族手机 PRO系列、MX系列、魅蓝（Note）系列的预约和购买</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/font/iconfont.css">
</head>
<body>
	<div class="header">
		<div id="main">
			<div class="header-logo"><a href="https://www.meizu.com/" target="_blank"><i class="iconfont icon-meizu logo"></i></a></div>
			<div class="header-login">
				<div class="left">
					<a href="html/login.html" class="header_login"><i class="iconfont icon-denglu login"></i></a>
				</div>
				<div class="right">
					<a href="https://cart.meizu.com/">
						<span class="shop-text">0</span>
						<i class="iconfont icon-gouwuche"></i>
					</a>
				</div>
			</div>
			<ul class="header-list">
				<li><div><a href="index.html" class="list_link">魅族商城</a></div></li>
				<li class="mzsj">
					<a href="html/list.html" class="list_link">魅族手机</a>
					<!-- <div class="layout-header-nav-child">
						
					</div> -->
					<div class="mzsj-list">
						<ul class="nav-sj-list">
							<li class="li-list"><a href="#"><img src="images/pro7.png" class="nav-img"><p>PRO 7</p><p>￥2880起</p></a></li>
							<li class="li-list"><a href="#"><img src="images/pro7p.png" class="nav-img"><p>PRO 7 Plus</p><p>￥3580起</p></a></li>
							<li class="li-list"><a href="#"><img src="images/pro6p.jpg" class="nav-img"><p>PRO 6 Plus</p><p>￥2699起</p></a></li>
							<li class="li-list"><a href="#"><img src="images/pro6s.png" class="nav-img"><p>PRO 6s</p><p>￥2290起</p></a></li>
							<li class="li-list"><a href="#"><img src="images/mx6.jpg" class="nav-img"><p>PRO MX6</p><p>￥1599起</p></a></li>
						</ul>
					</div>
					<div class="header-public"></div>
				</li>
				<li class="mlsj">
					<a href="https://lists.meizu.com/" class="list_link">魅蓝手机</a>
					<div class="mlsj-list">
						<ul class="nav-sj-list">
							<li class="li-list"><a href="#"><img src="images/ml_note6.jpg" class="nav-img"><p>魅蓝 Note6</p><p>￥1099起</p></a></li>
							<li class="li-list"><a href="#"><img src="images/ml_a5.jpg" class="nav-img"><p>魅蓝 A5</p><p>￥699起</p></a></li>
							<li class="li-list"><a href="#"><img src="images/ml_e2.jpg" class="nav-img"><p>魅蓝 E2</p><p>￥1199起</p></a></li>
							<li class="li-list"><a href="#"><img src="images/ml_5s.jpg" class="nav-img"><p>魅蓝 5s</p><p>￥999起</p></a></li>
							<li class="li-list"><a href="#"><img src="images/ml_note5.jpg" class="nav-img"><p>魅蓝 Note5</p><p>￥899起</p></a></li>
							<li class="li-list"><a href="#"><img src="images/ml_x.jpg" class="nav-img"><p>魅蓝 X</p><p>￥1499起</p></a></li>
							<li class="li-list"><a href="#"><img src="images/ml_5.jpg" class="nav-img"><p>魅蓝 5 礼盒版</p><p>￥799起</p></a></li>
							<li class="li-list"><a href="#"><img src="images/ml_e.png" class="nav-img"><p>魅蓝 E</p><p>￥999起</p></a></li>
						</ul>
					</div>
					<div class="header-public"></div>
				</li>
				<li class="mzsx">
					<a href="https://lists.meizu.com/" class="list_link">魅族声学</a>
					<div class="mzsx-list">
						<ul class="nav-sj-list">
							<li class="li-list"><a href="#"><img src="images/ear1.png" class="nav-img"><p>魅蓝 EP52</p><p>￥299</p></a></li>
							<li class="li-list"><a href="#"><img src="images/ear2.png" class="nav-img"><p>魅族 ME20</p><p>￥199</p></a></li>
							<li class="li-list"><a href="#"><img src="images/ear3.png" class="nav-img"><p>魅族蓝牙小音箱</p><p>￥169</p></a></li>
							<li class="li-list"><a href="#"><img src="images/ear4.png" class="nav-img"><p>魅族 EP2X</p><p>￥129</p></a></li>
							<li class="li-list"><a href="#"><img src="images/ear5.png" class="nav-img"><p>魅蓝 EP51</p><p>￥229</p></a></li>
							<li class="li-list"><a href="#"><img src="images/ear6.png" class="nav-img"><p>魅族 HD50</p><p>￥399</p></a></li>
						</ul>
					</div>
					<div class="header-public"></div>
				</li>
				<li class="znpj">
					<a href="https://lists.meizu.com/" class="list_link">智能·配件</a>
					<div class="znpj-list">
						<ul class="nav-sj-list">
							<li class="li-list"><a href="#"><img src="images/bag1.png" class="nav-img"><p>魅蓝旅行包</p><p>￥269</p></a></li>
							<li class="li-list"><a href="#"><img src="images/bag2.png" class="nav-img"><p>魅族智能体脂称</p><p>￥169</p></a></li>
							<li class="li-list"><a href="#"><img src="images/bag3.png" class="nav-img"><p>魅蓝旅行双肩包</p><p>￥199</p></a></li>
							<li class="li-list"><a href="#"><img src="images/bag4.png" class="nav-img"><p>魅族手环</p><p>￥229</p></a></li>
							<li class="li-list"><a href="#"><img src="images/bag5.png" class="nav-img"><p>魅族盒子</p><p>￥399</p></a></li>
							<li class="li-list"><a href="#"><img src="images/bag6.jpg" class="nav-img"><p>魅族路由器</p><p>￥199</p></a></li>
							<li class="li-list"><a href="#"><img src="images/bag7.png" class="nav-img"><p>魅族移动电源</p><p>￥99</p></a></li>
						</ul>
					</div>
					<div class="header-public"></div>
				</li>
				<li><a href="http://care.meizu.com/" class="list_link">服务</a></li>
				<li><a href="http://retail.meizu.com/index.html" class="list_link">专卖店</a></li>
				<li><a href="http://www.flyme.cn/?click=wmz_public_yt_flyme" class="list_link">Flyme</a></li>
				<li><a href="https://bbs.meizu.cn/" class="list_link">社区</a></li>
			</ul>
		</div>
	</div>
	<div class="banner">
		<div class="carousel_container">
			<div class="slick-arrow slick-prev" style="display: block;"><i class="iconfont icon-zuojiantou"></i></div>
			<ul class="banner-container">
				<li style="display: block;"><a href="#"><img src="images/banner1.jpg"></a></li>
				<li><a class="home-carousel-link" href="#" target="_blank"><img class="home-carousel-img" src="images/banner2.jpg"></a></li>
				<li><a class="home-carousel-link" href="#" target="_blank"><img class="home-carousel-img" src="images/banner3.jpg"></a></li>
				<li><a class="home-carousel-link" href="#" target="_blank"><img class="home-carousel-img" src="images/banner4.jpg"></a></li>
				<li><a class="home-carousel-link" href="#" target="_blank"><img class="home-carousel-img" src="images/banner5.jpg"></a></li>
			</ul>
			<div class="slick-arrow slick-next" style="display: block;"><i class="iconfont icon-youjiantou"></i></div>
			<div class="pages"></div>
		</div>
		<ul class="banner-nav-list">
			<li>
				<a href="#" class="nav_lk">手机</a>
				<div class="home-category-child clearfix">
					<div class="home-category-child-list clearfix">
						<a href="" class="list_lk"><span class="text">魅族手机</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/pro7.png" class="imgs_link">
							<div class="imgs_text">PRO 7</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/pro7p.png" class="imgs_link">
							<div class="imgs_text">PRO 7 Plus</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/pro6p.jpg" class="imgs_link">
							<div class="imgs_text">PRO 6 Plus</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/pro6s.png" class="imgs_link">
							<div class="imgs_text">PRO 6s</div>
						</a>
						<a href="" class="list_lk"><span class="text">魅蓝手机</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/ml_note6.jpg" class="imgs_link">
							<div class="imgs_text">魅蓝 Note6</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/ml_e2.jpg" class="imgs_link">
							<div class="imgs_text">魅蓝 E2</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/ml_5s.jpg" class="imgs_link">
							<div class="imgs_text">魅蓝 5s</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/ml_note5.jpg" class="imgs_link">
							<div class="imgs_text">魅蓝 Note5</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/ml_5.jpg" class="imgs_link">
							<div class="imgs_text">魅蓝 5</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/ml_e.png" class="imgs_link">
							<div class="imgs_text">魅蓝 E</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/mobile3.png" class="imgs_link">
							<div class="imgs_text">魅蓝 Max</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/mobile4.jpg" class="imgs_link">
							<div class="imgs_text">魅蓝 A5</div>
						</a>
					</div>
					<div class="home-category-child-ad type1">
						<a href="" class="home-category-child-ad-item"><img src="images/mz_mx6.jpg"></a>
						<a href="" class="home-category-child-ad-item"><img src="images/ml_x1.jpg"></a>
					</div>
				</div>
			</li>
			<li>
				<a href="#" class="nav_lk">智能设备</a>
				<div class="home-category-child clearfix">
					<div class="home-category-child-list clearfix">
						<a href="" class="list_lk"><span class="text">智能健康</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img1.png" class="imgs_link">
							<div class="imgs_text">乐心智能体脂秤</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img2.png" class="imgs_link">
							<div class="imgs_text">乐心心率手环</div>
						</a>
						<a href="" class="list_lk"><span class="text">智能厨房</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img3.png" class="imgs_link">
							<div class="imgs_text">沁麟智能靠谱煲</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img4.png" class="imgs_link">
							<div class="imgs_text">智能调温养生壶</div>
						</a>
						<a href="" class="list_lk"><span class="text">智能娱乐</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/bag5.png" class="imgs_link">
							<div class="imgs_text">魅族盒子</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/bag6.jpg" class="imgs_link">
							<div class="imgs_text">魅族路由器</div>
						</a>
					</div>
				</div>
			</li>
			<li>
				<a href="#" class="nav_lk">智能穿戴</a>
				<div class="home-category-child clearfix">
					<div class="home-category-child-list clearfix">
						<a href="" class="list_lk"><span class="text">手环</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/bag4.png" class="imgs_link">
							<div class="imgs_text">魅族手环</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img2.png" class="imgs_link">
							<div class="imgs_text">乐心手环MAMBO 升级版</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img39.png" class="imgs_link">
							<div class="imgs_text">Misfit 智能手环</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img40.png" class="imgs_link">
							<div class="imgs_text">乐心运动手环 ziva plus</div>
						</a>
						<a href="" class="list_lk"><span class="text">智能VR</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img41.png" class="imgs_link">
							<div class="imgs_text">纽曼智能3D眼镜</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img42.png" class="imgs_link">
							<div class="imgs_text">暴风魔镜小M</div>
						</a>
					</div>
				</div>
			</li>
			<li>
				<a href="#" class="nav_lk">游戏设备</a>
				<div class="home-category-child clearfix">
					<div class="home-category-child-list clearfix">
						<a href="" class="list_lk"><span class="text">游戏手柄</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img5.png" class="imgs_link">
							<div class="imgs_text">新游智能游戏手柄</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img6.png" class="imgs_link">
							<div class="imgs_text">飞智蓝牙无线手柄</div>
						</a>
						<a href="" class="list_lk"><span class="text">游戏键鼠</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img7.png" class="imgs_link">
							<div class="imgs_text">雷柏游戏鼠标V26</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img8.png" class="imgs_link">
							<div class="imgs_text">雷柏游戏键盘V56</div>
						</a>
						<a href="" class="list_lk"><span class="text">VR眼镜</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img9.png" class="imgs_link">
							<div class="imgs_text">纽曼智能VR眼镜</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img10.png" class="imgs_link">
							<div class="imgs_text">暴风魔镜智能VR</div>
						</a>
					</div>
				</div>
			</li>
			<li>
				<a href="#" class="nav_lk">数码影音</a>
				<div class="home-category-child clearfix">
					<div class="home-category-child-list clearfix">
						<a href="" class="list_lk"><span class="text">耳机</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img11.png" class="imgs_link">
							<div class="imgs_text">魅蓝 EP52</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img12.png" class="imgs_link">
							<div class="imgs_text">魅族 EP51</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img13.png" class="imgs_link">
							<div class="imgs_text">魅族 EP2X</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img14.png" class="imgs_link">
							<div class="imgs_text">魅族 ME20</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img15.png" class="imgs_link">
							<div class="imgs_text">JBL线控通话耳机</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img16.png" class="imgs_link">
							<div class="imgs_text">BeatsSolo3.0蓝牙</div>
						</a>
						<a href="" class="list_lk"><span class="text">音箱</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img17.png" class="imgs_link">
							<div class="imgs_text">魅族蓝牙小音箱</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img18.png" class="imgs_link">
							<div class="imgs_text">Beats 蓝牙音响</div>
						</a>
					</div>
				</div>
			</li>
			<li>
				<a href="#" class="nav_lk">手机配件/移动电源</a>
				<div class="home-category-child clearfix">
					<div class="home-category-child-list clearfix">
						<a href="" class="list_lk"><span class="text">数据线</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img19.png" class="imgs_link">
							<div class="imgs_text">Type-C数据线</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img20.png" class="imgs_link">
							<div class="imgs_text">Micro USB数据线</div>
						</a>
						<a href="" class="list_lk"><span class="text">移动电源</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img21.png" class="imgs_link">
							<div class="imgs_text">移动电源标准版</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img22.png" class="imgs_link">
							<div class="imgs_text">小黄人版移动电源</div>
						</a>
						<a href="" class="list_lk"><span class="text">保护套 / 后盖 / 贴膜</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img23.png" class="imgs_link">
							<div class="imgs_text">PRO 7 高透膜</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img24.png" class="imgs_link">
							<div class="imgs_text">魅蓝 E2 趣闪壳</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img25.png" class="imgs_link">
							<div class="imgs_text">PRO 7 保护壳</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img28.png" class="imgs_link">
							<div class="imgs_text">Note5 保护壳</div>
						</a>
					</div>
				</div>
			</li>
			<li>
				<a href="#" class="nav_lk">移动存储/办公设备</a>
				<div class="home-category-child clearfix">
					<div class="home-category-child-list clearfix">						
						<a href="" class="list_lk"><span class="text">办公设备</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img29.png" class="imgs_link">
							<div class="imgs_text">雷柏无线键鼠套装</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img30.png" class="imgs_link">
							<div class="imgs_text">雷柏电脑静音键盘</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img31.png" class="imgs_link">
							<div class="imgs_text">雷柏无线办公鼠标</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img32.png" class="imgs_link">
							<div class="imgs_text">雷柏触控静音鼠标</div>
						</a>
					</div>
				</div>
			</li>
			<li>
				<a href="#" class="nav_lk">生活周边</a>
				<div class="home-category-child clearfix">
					<div class="home-category-child-list clearfix">
						<a href="" class="list_lk"><span class="text">生活周边</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img33.png" class="imgs_link">
							<div class="imgs_text">魅蓝旅行包</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img34.png" class="imgs_link">
							<div class="imgs_text">魅蓝双肩包</div>
						</a>
						<a href="" class="list_lk"><span class="text">手机镜头</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img35.png" class="imgs_link">
							<div class="imgs_text">猎奇手机镜头套装</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img36.png" class="imgs_link">
							<div class="imgs_text">猎奇手机外置镜头</div>
						</a>
						<a href="" class="list_lk"><span class="text">自拍杆</span><i class="iconfont icon-youjiantou"></i></a>
						<a href="" class="nav_list_lk">
							<img src="images/img37.png" class="imgs_link">
							<div class="imgs_text">魅族蓝牙自拍杆</div>
						</a>
						<a href="" class="nav_list_lk">
							<img src="images/img38.png" class="imgs_link">
							<div class="imgs_text">魅族缤纷 MINi自拍杆</div>
						</a>
					</div>
				</div>
			</li>
		</ul>
		<div class="banner-footer clearfix" id="main">
			<div class="banner-footer-child" style="background: #f9f9f9;">
				<div><a href="https://mformy.meizu.com/?click=store_index_gd_1" target="_blank"><i class="iconfont icon-m"></i><span>M码通道</span></a></div>
				<div><a href="https://mcycle.meizu.com/?click=store_index_gd_2" target="_blank"><i class="iconfont icon-yijiuhuanx"></i><span>以旧换新</span></a></div>
				<div><a href="https://store.meizu.com/?click=wmz_public_yt_onstore" target="_blank"><i class="iconfont icon-yiwaibao"></i><span>魅族意外保</span></a></div>
				<div><a href="https://login.flyme.cn/" target="_blank"><i class="iconfont icon-huigoudan"></i><span>回购单查询</span></a></div>
			</div>
			<div class="banner-footer-child"><a href="https://detail.meizu.com/item/pro7plus.html?skuid=4509&click=store_index_xj_1" target="_blank"><img src="images/banner_footer1.jpg"></a></div>
			<div class="banner-footer-child"><a href="https://detail.meizu.com/item/meilannote6.html?click=store_index_xj_2" target="_blank"><img src="images/banner_footer2.jpg"></a></div>
			<div class="banner-footer-child"><a href="https://detail.meizu.com/item/meilan5s.html?click=store_index_xj_3" target="_blank"><img src="images/banner_footer3.jpg"></a></div>
			<div class="banner-footer-child"><a href="https://detail.meizu.com/item/meizu_ep51.html?click=store_index_xj_4" target="_blank"><img src="images/banner_footer4.jpg"></a></div>
		</div>
	</div>
	<div class="main_container">
		<div class="recommend" id="main">
			<div class="home-hot">
				<div class="recommend-header">
					<h1>精品推荐</h1>
					<i class="iconfont icon-youjiantou next"></i>
					<i class="iconfont icon-zuojiantou prve"></i>
				</div>
				<div class="recommend_carousel">
					<ul class="box">
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img1.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img2.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img3.jpg"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img4.jpg"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img5.jpg"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img6.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img7.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img8.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img9.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img10.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="home-floor">	
			<div class="home-floor-item" id="main">
				<div class="home-floor-ad">
					<div class="home-floor-ad-content">
						<div id="main"><a href="" target="_blank"><img src="images/advert1.jpg"></a></div>
					</div>
				</div>
				<div class="home-floor-content">
					<div class="home-floor-header clearfix">
						<h2 class="home-floor-title">手机</h2>
						<div class="home-floor-nav">
							<a href="javascript:void(0)" class="home-floor-nav-link active">热销机型</a>
						</div>
						<a href="" target="_blank" class="home-floor-more">更多></a>
					</div>
					<div class="home-floor-content-list">
						<ul class="home-floor-product clearfix active">
							
						</ul>
					</div>
				</div>
			</div>
			<div class="home-floor-item" id="main">
				<div class="home-floor-ad">
					<div class="home-floor-ad-content">
						<div id="main"><a href="" target="_blank"><img src="images/advert1.jpg"></a></div>
					</div>
				</div>
				<div class="home-floor-content">
					<div class="home-floor-header clearfix">
						<h2 class="home-floor-title">手机</h2>
						<div class="home-floor-nav">
							<a href="javascript:void(0)" class="home-floor-nav-link active">热销机型</a>
						</div>
						<a href="" target="_blank" class="home-floor-more">更多></a>
					</div>
					<div class="home-floor-content-list">
						<ul class="home-floor-product clearfix active">
							
						</ul>
					</div>
				</div>
			</div>
			<div class="home-floor-item" id="main">
				<div class="home-floor-ad">
					<div class="home-floor-ad-content">
						<div id="main"><a href="" target="_blank"><img src="images/advert1.jpg"></a></div>
					</div>
				</div>
				<div class="home-floor-content">
					<div class="home-floor-header clearfix">
						<h2 class="home-floor-title">手机</h2>
						<div class="home-floor-nav">
							<a href="javascript:void(0)" class="home-floor-nav-link active">热销机型</a>
						</div>
						<a href="" target="_blank" class="home-floor-more">更多></a>
					</div>
					<div class="home-floor-content-list">
						<ul class="home-floor-product clearfix active">
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layout-footer">
		<div id="main">
			<div class="layout-footer-top clearfix">
				<ul class="layout-footer-services clearfix">
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-shunfeng layout-font"></i></span>
							<span class="layout-footer-services-text">顺丰包邮</span>
						</a>
					</li>
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-dian layout-font"></i></span>
							<span class="layout-footer-services-text">100+ 城市次日送达</span>
						</a>
					</li>
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-fanhui layout-font"></i></span>
							<span class="layout-footer-services-text">7 天无理由退货</span>
						</a>
					</li>
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-jiaohuan layout-font"></i></span>
							<span class="layout-footer-services-text">15 天换货保障</span>
						</a>
					</li>
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-banshou layout-font"></i></span>
							<span class="layout-footer-services-text">1 年免费保修</span>
						</a>
					</li>
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-zuobiao layout-font"></i></span>
							<span class="layout-footer-services-text">2300+ 线下体验店</span>
						</a>
					</li>
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-xianshiqi layout-font"></i></span>
							<span class="layout-footer-services-text">远程支持服务</span>
						</a>
					</li>
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-fangzi layout-font"></i></span>
							<span class="layout-footer-services-text">上门快修</span>
						</a>
					</li>
				</ul>
				<div class="layout-footer-contact">
					<p class="layout-footer-contact-desc">24小时全国服务热线</p>
					<a href="400-788-3333" class="layout-footer-contact-tel">400-788-3333</a>
					<p><a href="javascript:void(0)" class="layout-footer-contact-online"><i class="layout-font iconfont icon-liaotian"></i><span class="text">在线客服</span></a></p>
				</div>
			</div>
			<div class="layout-footer-bottom clearfix">
				<ul class="layout-footer-interlock clearfix">
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">了解魅族</a></li>
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">加入我们</a></li>
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">联系我们</a></li>
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">Flyme</a></li>
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">魅族社区</a></li>
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">天猫旗舰店</a></li>
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">问题反馈</a></li>
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">线上销售授权名单公示</a></li>
				</ul>
				<div class="layout-footer-copyright clearfix">
					<span class="layout-footer-copyright-left">
						<a class="layout-footer-copyright-link copyright-text">©2017 Meizu Telecom Equipment Co., Ltd. All rights reserved.</a>
						<a class="layout-footer-copyright-link copyright-text" href="" target="_blank">粤ICP备13003602号-2</a>
						<a class="layout-footer-copyright-link copyright-text" href="" target="_blank">合字B2-20170010</a>
						<a class="layout-footer-copyright-link copyright-text" href="" target="_blank">营业执照</a>
						<a class="layout-footer-copyright-link copyright-text" href="" target="_blank">法律声明</a>
						<a class="layout-footer-copyright-link copyright-text">粤公网安备 44049102496009 号</a>
						<a class="layout-footer-copyright-link copyright-text" href="" target="_blank"><i class="layout-icon"></i></a>
						<a class="layout-footer-copyright-link copyright-text" href="" target="_blank"><i class="layout-icon"></i></a>
						<a class="layout-footer-copyright-link copyright-text" href="" target="_blank"><i class="layout-icon"></i></a>
					</span>
					<ul class="layout-footer-media clearfix">
						<li class="layout-footer-media-item"><a href="" class="layout-footer-media-link"><i class="iconfont icon-weibo layout-font"></i></a></li>
						<li class="layout-footer-media-item"><a href="" class="layout-footer-media-link"><i class="iconfont icon-weixin layout-font"></i></a></li>
						<li class="layout-footer-media-item"><a href="" class="layout-footer-media-link"><i class="iconfont icon-QQkongjian layout-font"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="layout-user-downmenu">
		<ul class="layout-user-downmenu-list">
			<li class="layout-user-downmenu-item"><a class="layout-user-downmenu-link" href="html/login.html">立即登录</a></li>
			<li class="layout-user-downmenu-item"><a class="layout-user-downmenu-link" href="html/register.html">立即注册</a></li>
			<li class="layout-user-downmenu-item"><a class="layout-user-downmenu-link" href="html/register.html">我的订单</a></li>
			<li class="layout-user-downmenu-item"><a class="layout-user-downmenu-link" href="html/register.html">M码通道</a></li>
		</ul>
	</div>

	<script src="lib/jquery/jquery-1.12.4.min.js"></script>
	<script src="js/index_header.js"></script>
	<script src="js/banner.js"></script>
	<script src="js/carousel_nav.js"></script>
	<script src="lib/requirejs/require.js" data-main="js/index_mock"></script>


	<script type="text/html" id="list_temp">
		<%
			for(var i = 0;i < list.length; i++){
				var pro = list[i];
		%>
			<li class="home-product ad">
				<a href="" target="_blank" class="home-product-link">
					<img src=<%= pro.imgsrc %> class="home-product-img">
					<h4 class="home-product-title"><%= pro.name %></h4>
					<h6 class="home-product-subtitle"><%= pro.pre %></h6>
					<p class="home-product-bottom"><%= pro.price %></p>
				</a>
			</li>
		<%
			}
		%>
	</script>
	<!-- <script type="text/html" id="nav_temp">
		<%
			for(var i = 0; i < products.length; i++){
				var product = products[i]
				for(var j = 0; j < product.length; i++){
					var data = product[j]
		%>
		<div id="main">
			<ul class="mzsj-list">
				<li>
					<a href="#">
						<img src=<%= data.imgsrc %> class="nav-img">
						<p><%= data.proname %></p>
						<p><%= data.price %></p>
					</a>
				</li>
			</ul>
		</div>
		<%
				}
			}
		%>
	</script> -->


</body>
</html>



























































































































<!-- <div class="banner-sj-list clearfix">
	<div class="banner-sj-list-hd clearfix">
		<a href=""><p>魅族手机</p><i class="iconfont icon-left-angle"></i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro7.png"><i>PRO 7</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro7p.png"><i>PRO 7 Plus</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro6p.jpg"><i>PRO 6 Plus</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro6s.png"><i>PRO 6s</i></a>
		<a href=""><p>魅蓝手机</p><i class="iconfont icon-left-angle"></i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro7.png"><i>PRO 7</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro7p.png"><i>PRO 7 Plus</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro6p.jpg"><i>PRO 6 Plus</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro6s.png"><i>PRO 6s</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro7.png"><i>PRO 7</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro7p.png"><i>PRO 7 Plus</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro6p.jpg"><i>PRO 6 Plus</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro6s.png"><i>PRO 6s</i></a>
	</div>
	<div class="banner-sj-list-ad">
		<a href=""><img src="images/mz_mx6.jpg"></a>
		<a href=""><img src="images/ml_x1.jpg"></a>
	</div>
</div> -->