<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/font/iconfont.css">
</head>
<body>
	<div class="header">
		<div id="main">
			<div class="header-logo"><a href="https://www.meizu.com/" target="_blank"><i class="iconfont icon-meizu logo"></i></a></div>
			<div class="header-login">
				<div class="left"><a href="https://login.flyme.cn"><i class="iconfont icon-denglu login"></i></a></div>
				<div class="right">
					<a href="https://cart.meizu.com/">
						<span class="shop-text">0</span>
						<i class="iconfont icon-gouwuche"></i>
					</a>
				</div>
			</div>
			<ul class="header-list">
				<li><div><a href="index.html">魅族商城</a></div></li>
				<li class="mzsj">
					<div><a href="https://lists.meizu.com/">魅族手机</a></div>
					<ul class="mzsj-list">
						<li><a href="#"><img src="images/pro7.png"><p>PRO 7</p><p>￥2880起</p></a></li>
						<li><a href="#"><img src="images/pro7p.png"><p>PRO 7 Plus</p><p>￥3580起</p></a></li>
						<li><a href="#"><img src="images/pro6p.jpg"><p>PRO 6 Plus</p><p>￥2699起</p></a></li>
						<li><a href="#"><img src="images/pro6s.png"><p>PRO 6s</p><p>￥2290起</p></a></li>
						<li><a href="#"><img src="images/mx6.jpg"><p>PRO MX6</p><p>￥1599起</p></a></li>
					</ul>
				</li>
				<li class="mlsj">
					<div><a href="https://lists.meizu.com/">魅蓝手机</a></div>
					<ul class="mlsj-list">
						<li><a href="#"><img src="images/ml_note6.jpg"><p>魅蓝 note6</p><p>￥1099起</p></a></li>
						<li><a href="#"><img src="images/ml_a5.jpg"><p>魅蓝 A5</p><p>￥699起</p></a></li>
						<li><a href="#"><img src="images/ml_e2.jpg"><p>魅蓝 E2</p><p>￥1199起</p></a></li>
						<li><a href="#"><img src="images/ml_5s.jpg"><p>魅蓝 5s</p><p>￥999起</p></a></li>
						<li><a href="#"><img src="images/ml_note5.jpg"><p>魅蓝 note5</p><p>￥899起</p></a></li>
						<li><a href="#"><img src="images/ml_x.jpg"><p>魅蓝 X</p><p>￥1449起</p></a></li>
						<li><a href="#"><img src="images/ml_5.jpg"><p>魅蓝 5 礼盒版</p><p>￥799起</p></a></li>
						<li><a href="#"><img src="images/ml_e.png"><p>魅蓝 E</p><p>￥999起</p></a></li>
					</ul>
				</li>
				<li class="mzsx"><div><a href="https://lists.meizu.com/">魅族声学</a></div></li>
				<li class="znpj"><div><a href="https://lists.meizu.com/">智能·配件</a></div></li>
				<li><div><a href="http://care.meizu.com/">服务</a></div></li>
				<li><div><a href="http://retail.meizu.com/index.html">专卖店</a></div></li>
				<li><div><a href="http://www.flyme.cn/?click=wmz_public_yt_flyme">Flyme</a></div></li>
				<li><div><a href="https://bbs.meizu.cn/">社区</a></div></li>
			</ul>
		</div>
		<div class="header-public"></div>
	</div>
	<div class="banner">
		<div class="carousel_container">
			<div class="slick-arrow slick-prev"><i class="iconfont icon-zuojiantou"></i></div>
			<ul class="banner-container">
				<li style="display: block;"><a href="#"><img src="images/banner1.jpg"></a></li>
				<li><a class="home-carousel-link" href="#" target="_blank"><img class="home-carousel-img" src="images/banner2.jpg"></a></li>
				<li><a class="home-carousel-link" href="#" target="_blank"><img class="home-carousel-img" src="images/banner3.jpg"></a></li>
				<li><a class="home-carousel-link" href="#" target="_blank"><img class="home-carousel-img" src="images/banner4.jpg"></a></li>
				<li><a class="home-carousel-link" href="#" target="_blank"><img class="home-carousel-img" src="images/banner5.jpg"></a></li>
			</ul>
			<div class="slick-arrow slick-next"><i class="iconfont icon-youjiantou"></i></div>
			<div class="pages"></div>
		</div>
		<ul class="banner-nav-list">
			<li><a href="#">手机</a></li>
			<li><a href="#">智能设备</a></li>
			<li><a href="#">智能穿戴</a></li>
			<li><a href="#">游戏设备</a></li>
			<li><a href="#">数码影音</a></li>
			<li><a href="#">手机配件/移动电源</a></li>
			<li><a href="#">移动存储/办公设备</a></li>
			<li><a href="#">生活周边</a></li>
		</ul>
		<div class="banner-footer clearfix" id="main">
			<div class="banner-footer-child" style="background: #f9f9f9;">
				<div><a href="https://mformy.meizu.com/?click=store_index_gd_1" target="_blank"><i class="iconfont icon-m"></i><span>M码通道</span></a></div>
				<div><a href="https://mcycle.meizu.com/?click=store_index_gd_2" target="_blank"><i class="iconfont icon-yijiuhuanx"></i><span>以旧换新</span></a></div>
				<div><a href="https://store.meizu.com/?click=wmz_public_yt_onstore" target="_blank"><i class="iconfont icon-yiwaibao"></i><span>魅族意外保</span></a></div>
				<div><a href="https://login.flyme.cn/" target="_blank"><i class="iconfont icon-huigoudan"></i><span>回购单查询</span></a></div>
			</div>
			<div class="banner-footer-child"><a href="https://detail.meizu.com/item/pro7plus.html?skuid=4509&click=store_index_xj_1" target="_blank"><img src="images/banner_footer1.jpg"></a></div>
			<div class="banner-footer-child"><a href="https://detail.meizu.com/item/meilannote6.html?click=store_index_xj_2" target="_blank"><img src="images/banner_footer2.jpg"></a></div>
			<div class="banner-footer-child"><a href="https://detail.meizu.com/item/meilan5s.html?click=store_index_xj_3" target="_blank"><img src="images/banner_footer3.jpg"></a></div>
			<div class="banner-footer-child"><a href="https://detail.meizu.com/item/meizu_ep51.html?click=store_index_xj_4" target="_blank"><img src="images/banner_footer4.jpg"></a></div>
		</div>
	</div>
	<div class="main_container">
		<div class="recommend" id="main">
			<div class="home-hot">
				<div class="recommend-header">
					<h1>精品推荐</h1>
					<i class="iconfont icon-youjiantou"></i>
					<i class="iconfont icon-zuojiantou"></i>
				</div>
				<div class="recommend_carousel">
					<ul class="box">
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img1.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img1.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img1.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img1.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img1.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img1.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img1.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img1.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img1.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
						<li class="imgbox"><a href="" target="_blank"><img src="images/recommend_img1.png"><h3>魅蓝 Note6</h3><p><span>最新机型</span></p><h4>￥1099起</h4></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="home-floor">	
			<div class="home-floor-item" id="main">
				<div class="home-floor-ad">
					<div class="home-floor-ad-content">
						<div id="main"><a href="" target="_blank"><img src="images/advert1.jpg"></a></div>
					</div>
				</div>
				<div class="home-floor-content">
					<div class="home-floor-header clearfix">
						<h2 class="home-floor-title">手机</h2>
						<div class="home-floor-nav">
							<a href="javascript:void(0)" class="home-floor-nav-link active">热销机型</a>
						</div>
						<a href="" target="_blank" class="home-floor-more">更多></a>
					</div>
					<div class="home-floor-content-list">
						<ul class="home-floor-product clearfix active">
							
						</ul>
					</div>
				</div>
			</div>
			<div class="home-floor-item" id="main">
				<div class="home-floor-ad">
					<div class="home-floor-ad-content">
						<div id="main"><a href="" target="_blank"><img src="images/advert1.jpg"></a></div>
					</div>
				</div>
				<div class="home-floor-content">
					<div class="home-floor-header clearfix">
						<h2 class="home-floor-title">手机</h2>
						<div class="home-floor-nav">
							<a href="javascript:void(0)" class="home-floor-nav-link active">热销机型</a>
						</div>
						<a href="" target="_blank" class="home-floor-more">更多></a>
					</div>
					<div class="home-floor-content-list">
						<ul class="home-floor-product clearfix active">
							
						</ul>
					</div>
				</div>
			</div>
			<div class="home-floor-item" id="main">
				<div class="home-floor-ad">
					<div class="home-floor-ad-content">
						<div id="main"><a href="" target="_blank"><img src="images/advert1.jpg"></a></div>
					</div>
				</div>
				<div class="home-floor-content">
					<div class="home-floor-header clearfix">
						<h2 class="home-floor-title">手机</h2>
						<div class="home-floor-nav">
							<a href="javascript:void(0)" class="home-floor-nav-link active">热销机型</a>
						</div>
						<a href="" target="_blank" class="home-floor-more">更多></a>
					</div>
					<div class="home-floor-content-list">
						<ul class="home-floor-product clearfix active">
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layout-footer">
		<div id="main">
			<div class="layout-footer-top clearfix">
				<ul class="layout-footer-services clearfix">
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-shunfeng layout-font"></i></span>
							<span class="layout-footer-services-text">顺丰包邮</span>
						</a>
					</li>
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-dian layout-font"></i></span>
							<span class="layout-footer-services-text">100+ 城市次日送达</span>
						</a>
					</li>
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-fanhui layout-font"></i></span>
							<span class="layout-footer-services-text">7 天无理由退货</span>
						</a>
					</li>
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-jiaohuan layout-font"></i></span>
							<span class="layout-footer-services-text">15 天换货保障</span>
						</a>
					</li>
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-banshou layout-font"></i></span>
							<span class="layout-footer-services-text">1 年免费保修</span>
						</a>
					</li>
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-zuobiao layout-font"></i></span>
							<span class="layout-footer-services-text">2300+ 线下体验店</span>
						</a>
					</li>
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-xianshiqi layout-font"></i></span>
							<span class="layout-footer-services-text">远程支持服务</span>
						</a>
					</li>
					<li class="layout-footer-services-item">
						<a href="" target="_blank" class="layout-footer-services-link">
							<span class="layout-footer-service-wrap"><i class="iconfont icon-fangzi layout-font"></i></span>
							<span class="layout-footer-services-text">上门快修</span>
						</a>
					</li>
				</ul>
				<div class="layout-footer-contact">
					<p class="layout-footer-contact-desc">24小时全国服务热线</p>
					<a href="400-788-3333" class="layout-footer-contact-tel">400-788-3333</a>
					<p><a href="javascript:void(0)" class="layout-footer-contact-online"><i class="layout-font iconfont icon-liaotian"></i><span class="text">在线客服</span></a></p>
				</div>
			</div>
			<div class="layout-footer-bottom clearfix">
				<ul class="layout-footer-interlock clearfix">
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">了解魅族</a></li>
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">加入我们</a></li>
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">联系我们</a></li>
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">Flyme</a></li>
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">魅族社区</a></li>
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">天猫旗舰店</a></li>
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">问题反馈</a></li>
					<li class="layout-footer-interlock-item"><a class="layout-footer-interlock-link" href="" target="_blank">线上销售授权名单公示</a></li>
				</ul>
				<div class="layout-footer-copyright clearfix">
					<span class="layout-footer-copyright-left">
						<a class="layout-footer-copyright-link copyright-text">©2017 Meizu Telecom Equipment Co., Ltd. All rights reserved.</a>
						<a class="layout-footer-copyright-link copyright-text" href="" target="_blank">粤ICP备13003602号-2</a>
						<a class="layout-footer-copyright-link copyright-text" href="" target="_blank">合字B2-20170010</a>
						<a class="layout-footer-copyright-link copyright-text" href="" target="_blank">营业执照</a>
						<a class="layout-footer-copyright-link copyright-text" href="" target="_blank">法律声明</a>
						<a class="layout-footer-copyright-link copyright-text">粤公网安备 44049102496009 号</a>
						<a class="layout-footer-copyright-link copyright-text" href="" target="_blank"><i class="layout-icon"></i></a>
						<a class="layout-footer-copyright-link copyright-text" href="" target="_blank"><i class="layout-icon"></i></a>
						<a class="layout-footer-copyright-link copyright-text" href="" target="_blank"><i class="layout-icon"></i></a>
					</span>
					<ul class="layout-footer-media clearfix">
						<li class="layout-footer-media-item"><a href="" class="layout-footer-media-link"><i class="iconfont icon-weibo layout-font"></i></a></li>
						<li class="layout-footer-media-item"><a href="" class="layout-footer-media-link"><i class="iconfont icon-weixin layout-font"></i></a></li>
						<li class="layout-footer-media-item"><a href="" class="layout-footer-media-link"><i class="iconfont icon-QQkongjian layout-font"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="lib/jquery/jquery-1.12.4.min.js"></script>
	<script src="js/index_header.js"></script>
	<script src="js/banner.js"></script>
	<script src="lib/requirejs/require.js" data-main="js/mobile"></script>

	<script type="text/html" id="list_temp">
		<%
			for(var i = 0;i < list.length; i++){
				var pro = list[i];
		%>
			<li class="home-product ad">
				<a href="" target="_blank" class="home-product-link">
					<img src=<%= pro.imgsrc %> class="home-product-img">
					<h4 class="home-product-title"><%= pro.name %></h4>
					<h6 class="home-product-subtitle"><%= pro.pre %></h6>
					<p class="home-product-bottom"><%= pro.price %></p>
				</a>
			</li>
		<%
			}
		%>
	</script>

</body>
</html>



























































































































<!-- <div class="banner-sj-list clearfix">
	<div class="banner-sj-list-hd clearfix">
		<a href=""><p>魅族手机</p><i class="iconfont icon-left-angle"></i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro7.png"><i>PRO 7</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro7p.png"><i>PRO 7 Plus</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro6p.jpg"><i>PRO 6 Plus</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro6s.png"><i>PRO 6s</i></a>
		<a href=""><p>魅蓝手机</p><i class="iconfont icon-left-angle"></i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro7.png"><i>PRO 7</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro7p.png"><i>PRO 7 Plus</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro6p.jpg"><i>PRO 6 Plus</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro6s.png"><i>PRO 6s</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro7.png"><i>PRO 7</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro7p.png"><i>PRO 7 Plus</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro6p.jpg"><i>PRO 6 Plus</i></a>
		<a href="" class="banner-sj-list-child"><img src="images/pro6s.png"><i>PRO 6s</i></a>
	</div>
	<div class="banner-sj-list-ad">
		<a href=""><img src="images/mz_mx6.jpg"></a>
		<a href=""><img src="images/ml_x1.jpg"></a>
	</div>
</div> -->